You are required to replace the file path "c:/users/g-corp/geolite2-city.mmdb"
with a valid geoip database file path.
The Geolite2-City.mmdb file should be downloaded from maxmind website, then locate
it on local computer. After that, pass its path to geoip2.database reader function.
